<!-- 
 File: filter.html
 Author: Rahil Shah (rshah10@bu.edu)
 Description: HTML file for the form to filter voters -->


<h2>Filter</h2>
<form action= "" style="display: flex; gap: 12px; flex-wrap: wrap; max-width: 600px; align-items: flex-end">
 
    <label>Party: </label>
    <select name="party">
        <option value="">Any</option>
        <option value="D">Democrat</option>
        <option value="R">Republican</option>
        <option value="U">Unenrolled</option>
    </select>

    <br>

    <label> Min DOB Year: </label>
    <select name="min_year">
        <option value="">Any</option>
        {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select>

    <br>

    <label> Max DOB Year: </label>
    <select name="max_year">
        <option value="">Any</option>
        {% for year in years %}
        <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select>

    <br>

    <label> Voter Score: </label>
    <select name="voter_score">
        <option value="">Any</option>
        <option value="0">0</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
    </select>

    <br>

    <label> Voted In: </label>
    <label><input type="checkbox" name="v20state"> 2020 State</label><br>
    <label><input type="checkbox" name="v21town"> 2021 Town</label><br>
    <label><input type="checkbox" name="v21primary"> 2021 Primary</label><br>
    <label><input type="checkbox" name="v22general"> 2022 General</label><br>
    <label><input type="checkbox" name="v23town"> 2023 Town</label>

    <input type="submit" value="Filter">

</form>