body {
    font-family: system-ui;
    margin: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 40px;
}

nav {
    margin-top: 10px;
}

img {
    margin: 5px;
    width: 400px;
    height: 400px;
    align-items: center;
    border: 2px solid purple;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

.page-section {
    width: 90%;
    max-width: 800px;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid purple;
    text-align: left;
}

li {
    list-style: none;
    padding-left: 10px;
}

li label {
    display: block;
    margin: 4px 0;
}

textarea {
    display: block;
    width: 100%;
    margin: 6px 0 12px 0;
    padding: 5px;
    border: 1px solid #d01111;
    background-color: white;
    font-family: inherit;
}

label {
    display: flex;
    align-items: center;
    gap: 6px;
}