<!-- 
 File: views.py
 Author: Rahil Shah (rshah10@bu.edu),9/12/25
 Description: HTML file for about page -->

{% extends "base.html" %}

{% block content %}
<div class="page-section">
    <h2>Welcome to the Albert Einstein Quote of the Day application!</h2>

    <p> This application displays quotes by and images of Albert Einstein. </p>
    <p> Albert Einstein was a German-born theoretical physicist who is best known for developing the theory of relativity. 
    Einstein also made important contributions to quantum theory. His mass–energy equivalence formula E = mc², which arises from special relativity, has been called "the world's most famous equation".</p>
    
    <h2> About the author </h2>
    <p>Hi! My name is Rahil Shah. I am a senior majoring in computer science and I am taking CS412. I love coding! </p>
</div>
{% endblock %}