<!-- 
 File: base.html
 Author: Rahil Shah (rshah10@bu.edu)
 Description: HTML file for base page -->

{% load static %}
<html>
    <head>
        <title>Mini Insta </title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <header>
            <h1>Mini Insta</h1>
            <nav>
                {% if profile %}
                    <a href="{% url 'show_feed' profile.pk %}">Home</a>
                    <a href="{% url 'show_profile' profile.pk %}">Profile</a>
                    <a href="{% url 'search' profile.pk %}">Search</a>
                {% else %}
                    <a href="{% url 'show_all_profiles' %}">Home</a>
                {% endif %}
            </nav>
        </header>

        {% block content %}
        {% endblock %}

    </body>
    <footer> 
        <!--<a href="{% url 'show_all_profiles' %}">Back to All Profiles</a>!-->
        {% if profile %}
            <a href="{% url 'create_post' profile.pk %}">Create New Post</a>
        {% endif %}
    </footer>
</html>