<!-- 
 File: delete_post_form.html
 Author: Rahil Shah (rshah10@bu.edu)
 Description: HTML file to display form for deleting a post -->

{% extends "mini_insta/base.html" %}

{% block content %}
<h1>Delete Post</h1>

<p>Are you sure you want to delete this post?</p>

<div>
    <p>Caption: {{ post.caption }}</p>
    {% for photo in post.get_all_photos %}
        <img src="{{ photo.get_image_url }}" alt="Post Image" style="max-width:300px;">
    {% endfor %}
</div>

<form method="POST" action="">
    {% csrf_token %}
    <button type="submit">Confirm Delete</button>
</form>

<form method="GET" action="{% url 'show_profile' object.pk %}">
    <button type="submit">Cancel</button>
</form>
{% endblock %}
