<!-- 
 File: search.html
 Author: Rahil Shah (rshah10@bu.edu)
 Description: HTML file to display search box -->

{% extends "mini_insta/base.html" %}
{% load static %}

{% block content %}
<div>
    <h2>Search</h2>

    <form action="{% url 'search' profile.pk %}" method="GET">
        <input type="text" name="query" placeholder="Search profiles or posts..." required>
        <button type="submit">Search</button>
    </form>

    <a href="{% url 'show_profile' profile.pk %}">Back to Profile</a>
</div>
{% endblock %}
