<!-- 
 File: show_profile.html
 Author: Rahil Shah (rshah10@bu.edu)
 Description: HTML file for indivdual profile pages  -->


{% extends "mini_insta/base.html" %}
{% load static %}

{% block content %}
<div>
    <div>
        <img src="{{ profile.profile_image_url }}">
        <h1>Display name: {{ profile.display_name }}</h1>
        <p>Username: {{ profile.username }}</p>
    </div>

    <div>
        <p>{{ profile.bio_text }}</p>
        <p>Joined: {{ profile.join_date}}</p>
    </div>

    <a href="{% url 'update_profile' profile.pk %}">
        <button type="button">Update Profile </button> 
    </a>

    <p><strong>Followers:</strong></p>
    <p><strong>Following:</strong> </p>

    <h2>Posts</h2>
    {% for post in profile.get_all_posts %}
        {% with photos=post.get_all_photos %}
            {% if photos %}
                <img src="{{ photos.0.get_image_url }}" alt="Post image" style="max-width:300px;">
            {% else %}
                <img src="{% static 'no_image.jpeg' %}" alt="No image available" style="max-width:300px;">
            {% endif %}
        {% endwith %}
        <a href="{% url 'show_post' post.pk %}"><p>{{ post.caption }}</p></a>
        <p><em>Posted on {{ post.timestamp }}</em></p>
        <hr>
    {% empty %}
        <p>No posts yet.</p>
    {% endfor %}
</div>
{% endblock %}
