<!-- 
 File: show_following.html
 Author: Rahil Shah (rshah10@bu.edu)
 Description: HTML file for detailed view of all profiles a given profile is following -->

{% extends "mini_insta/base.html" %}
{% load static %}

{% block content %}
<div>
    <p>Following of {{ profile.username }}</p>
    <ul>
        {% for profile in profile.get_following %}
            <li>
                <a href="{% url 'show_profile' profile.pk %}">{{ profile.username }}</a>
            </li>
        {% empty %}
            <li>No followers found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
